.root{
    -fx-background-color: #1C1C1E;
}

#title{
    -fx-text-fill: #fff;
    -fx-font-size: 45px;
}

.mainButton{
    -fx-background-color: #2C2C2E;
    -fx-text-fill: #fff;
    -fx-min-height: 150px;
    -fx-min-width: 150px;
    -fx-font-size: 24px;
}

.mainButton:hover{
    -fx-cursor: hand;
}

#uploadBorder{
    -fx-padding: 100px;
    -fx-alignment: center;
}

#uploadFiles{
    -fx-border-width: 5px;
    -fx-border-style: dashed;
    -fx-border-color: #909090;
    -fx-pref-width: 400px;
    -fx-alignment: center;
    -fx-spacing: 150px;
}

#uploadButton{
    -fx-background-color: #C11B2A;
    -fx-text-fill: #fff;
    -fx-min-width: 150px;
    -fx-min-height: 35px;
}

#uploadButton:hover{
    -fx-cursor: hand;
}

#plus{
    -fx-min-width: 100px;
    -fx-min-height: 100px;
    -fx-border-style: dashed;
    -fx-border-width: 3px;
    -fx-border-color: #909090;
    -fx-background-color: none;
}

#plus:hover{
    -fx-cursor: hand;
}

#nameTextField{
    -fx-max-width: 200px;
    -fx-background-color: #2C2C2E;
    -fx-text-fill: #5F5F52;
    -fx-prompt-text-fill: #5F5F52;
    -fx-min-height: 40px;
}

.roomTextField{
    -fx-min-width: 300px;
    -fx-background-color: none;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #979797;
    -fx-text-fill: #5F5F52;
    -fx-prompt-text-fill: #5F5F52;
    -fx-font-size: 20px;
}

#roomHbox{
    -fx-padding: 75 100 0 100;
}

#roomVbox{
    -fx-spacing: 25px;
    -fx-alignment: center;
    /*-fx-padding: 0 0 20 0;*/
}

#roomBorderP{
    -fx-padding: 20px;
}

#arrow{
    -fx-background-color: none;
}

#arrow:hover{
    -fx-cursor: hand;
}

.buildingButton{
    -fx-min-height: 50px;
    -fx-min-width: 800px;
    -fx-background-color: #2C2C2E;
    -fx-alignment: center-left;
    -fx-text-fill: #5F5F52;
    -fx-font-size: 18px;
}

.buildingButton:hover{
    -fx-cursor: hand;
}